.sei{
 margin: 50px;
 margin-top: 50px;
}
 .btn{
    background-color: #0000ff;
    border-radius: 10px;
    color: azure;
    margin-left: 140px;
    margin-top: 5px;
    font-size: 11px;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
 }
.btn:hover{
    background-color: gray;
    color: rgb(245, 240, 240);
}
h1{
    font-size: 25px;
    margin-left: 20px;
}
